html, body{
    
    font-size: 10px;
    font-family: Tahoma, Arial;
}
nav{

background-color: #4d5791;
height: 60 px;
padding: 0 40px; 
}

nav ul,
nav ul li{
margin: 0;
padding: 0;
list-style: none;
display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 20px;
    line-height: 44 px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
} 

nav ul li a:hover
{
    background-color: white;
    color: #4d5791;
}
header
{
    height: 450px;
    background-color: #b4c6f0;
    background-image: url('bg.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

header h1,header h2{
text-align: center;
margin: 0;
}
header h1{
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}
header h2{
    color: #4d5791
}
main{
    padding: 40px;
    max-width: 100%;
}

section {
    display: block;
  }

mark {
    background-color: yellow;
    color: black;
  }

.as1 {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}


.as2 {
    width: 30%;
    padding-right: 15px;
    margin-right: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
}

.center{
    text-align: center;
}



main article{
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 0;
}
@media screen and (min-width: 768px)
{
    main article{
        margin: 10px;
    } 
}
footer{
    font-size: 1.4em;
}

.dchart {
    text-align: center;
    border: 2px solid green;
    padding-right: 50px;
  }