
<main class="center" id="main">
  <pb-breadcrumbs></pb-breadcrumbs>

      <pb-article>
        <h1>Alerts</h1>
        <p> Do you know where you are spending your money? If you really stop to track it down,
          you would get surprised! Proper budget management depends on real data... and this
          app will help you with that!</p>
      </pb-article>


      <pb-article>
        <h1>About</h1>
        <p> People who stick to a financial plan, budgeting every expense, get out of debt faster!
          Also, they to live happier lives... since they expend without guilt or fear...
          because they know it is all good and accounted for.</p>
      </pb-article>


      <section>

        <h1>Donut Chart</h1>
        <div id="chart" class = "dchart"></div>
      </section>

      <div style="text-align: center;" class = "dchart">
          <h1>Pie Chart</h1>
              <p>
                  <canvas id="myChart" style="display: block; width: 50%; height: 50%;"></canvas>
              </p>
      </div>



</main>
